.Button {
  background: #ff9800;
  border-radius: 5px;
  color: #fff;
  padding: 8px 12px;
  border: 1px solid #ff9800;
  cursor: pointer;
  font-size: 16px;
}

.Button:hover {
  color: #ff9800;
  background: #fff;
  border: 1px solid #ff9800;
  transition: 0.4s ease;
}
