.dashboard_body {
  display: flex;
  color: #fff;
}

.dashboard_main {
  padding: 50px 40px;
  flex-grow: 1;
  width: 80%;
  background: linear-gradient(to bottom right, #671ae4 20%, #181e41 90%);
}

.dash_intro {
  background: #695a8157;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 30px;
  border-radius: 5px;
}

.dash_intro p {
  margin: 10px 0 30px 0;
}

.dash_cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.crd_1 {
  background-color: #fff;
  color: #2c1d6a;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dash_lower {
  margin-top: 30px;
  display: flex;
  gap: 20px;
}

@media (max-width: 1075px) {
  .dash_cards,
  .dash_lower {
    flex-direction: column;
  }
}
