.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: linear-gradient(105deg, #181e41 20%, #671ae4 80%);
  background-repeat: no-repeat;
}

.Nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 7vw;
  border-bottom: 1px solid #ffffff57;
}

.Nav_container a {
  text-decoration: none;
}

.Nav_container h1 {
  font-size: 35px;
  /* color: #ff9800; */
  color: #fff;
  font-weight: 800;
}

.Nav_container span {
  /* background: linear-gradient(to bottom, #b75cff 10%, #671ae4 90%); */
  color: transparent;
  background: linear-gradient(to bottom, #b75cff 10%, #ff9800 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.Nav_inner_container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
}

.dropdown,
.input {
  font-size: 16px;
  /* background: #b75cff; */
  background: transparent;
  border: none;
  color: #fff;
  /* padding: 8px; */
  outline: none;
}

.icon {
  /* background: #b75cff;
  border-radius: 5px 0 0 5px; */
}

.dropdown {
  /* border-radius: 0 5px 5px 0; */
}

.dropdown > option {
  color: #671ae4;
  cursor: pointer;
  /* background: #987cb3; */
}

.input {
  width: 250px;
}

.input::placeholder {
  color: #ffffff57;
  font-size: 14px;
}

.dropdown {
  border-left: 1px solid #ffffff8e;
  /* padding-left: 7px; */
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 8px;
  padding-left: 5px;
}

.SearchBar {
  display: flex;
  background: #ffffff67;
  padding: 7px;
  border-radius: 5px;
}

.input {
  flex: 1;
}

.BT {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.BT a {
  /* border: 1px solid #fff; */
  border: 1px solid #671ae4;
  padding: 10px 30px;
  text-decoration: none;
  /* color: #ff9800; */
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
}

.BT a:hover {
  border: 1px solid #ff9800;
  transition: 0.3s ease-in;
  cursor: pointer;
  color: #ff9800;
  background: #fff;
}

.Nav_inner_container2 {
  display: none;
}

@media (max-width: 915px) {
  .Nav_inner_container {
    display: none;
  }

  .Nav_inner_container2 {
    display: flex;
    flex-direction: column;
    padding: 15px 15vw 0 15vw;
    align-items: center;
    margin-bottom: 20px;
  }

  .SearchBar {
    margin-bottom: 10px;
  }

  .input {
    width: 350px;
  }
}

@media (max-width: 500px) {
  .input {
    width: 150px;
  }
}
